/* img {
  margin: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 4px #747de8;
  animation: glow 1.5s linear infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 30px 20px #535fed;
  }
} */

.map {
  width: 610px;
  height: 510px;
  margin-top: 40px;
}
